# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Packaging / build
build/
dist/
*.egg-info/

# Editors / IDEs
.vscode/
.idea/
